

body {
	margin: 0px;
	padding: 0px;
	background-color: rgb(190,219,193);
}

div {
	background-color: rgb(131,152,220);
	margin: 0px;
	padding: 0px;
}

h1 {
	margin: 0px;
	padding: 0px;
}

div.post-board {
	padding: 16px;
	background-color: transparent;
	width: 1536px;
}

.clear {
	clear: both;
}

div.block {
	width : 720px;
	float: left;
	margin: 8px;
	padding: 16px;
}

div.post p {
	font-size: 18px;
	text-align: justify;
}

div.menu {
	position: fixed;
	left: 1568px;
	top: 8px;
	margin: 16px;
	padding: 16px;
	width: 250px;
	height: 400px;
}
